## Ignore everything except .gitignore itself and main scripts ##

# Ignore every catalog
.vs/*
Builds/*
Library/*
Logs/*
obj/*
Packages/*
ProjectSettings/*
Temp/*
UserSettings/*
Assets/*

# Do not ignore Assets/Scripts
!Assets/Scripts

# Ignore all files but .cs
*.*
!*.cs