## Ignore everything except except .gitignore itself and main scripts ##

# Ignoruj wszystko
*

# Wyklucz (nie ignoruj) plik .gitignore
!.gitignore

# Wyklucz (nie ignoruj) katalog Assets i jego zawartoœæ
!Assets/